body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover:not(.active) {
  background-color: #666666;
}
ul li a.active {
  background-color: #b30000;
}
ul li.icon {
  display: none;
}
code {
  background-color: #eff0f1;
}
#wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
  background-color: white;
}
.videoBox {
  padding: 20px;
  text-align: center;
}
#footerBox {
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: #111111;
  margin: 0px auto;
  width: 100%;
}
#headerBox {
  margin: 0 auto;
}
@media screen and (max-width: 1270px) {
  ul li:not(:first-child) {
    display: none;
  }
  ul li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width: 1270px) {
  ul.responsive {
    position: relative;
  }
  ul.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.responsive li {
    float: none;
    display: inline;
  }
  ul.responsive li a {
    display: block;
    text-align: left;
  }
}
